/* Menu */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 6rem;
}

.logo{
    display: flex;
}

.logotam{
    width: 8rem;
    position: relative;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 3rem;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    justify-content: center;
}

.login-button{
    display: flex;
    align-items: center;
    color: #fff;
}

.login-button button{
    border: none;
    background-color: #0187a7;
    padding: 10px 15px;
    border-radius: 5px;
}
.login-button button a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media screen and (max-width: 730px){
    .nav-bar{
        padding: 1.5rem;
    }

    .nav-item{
        display: none;
    }

    .login-button{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button button{
        width: 100%;
    }

    .open{
        display: block;
    }

} 

/* ROLL DOWN PERFIL */

/* Estilo básico para os botões */
.toggle-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Estilo para a lista de menu */
  .menu {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px; /* Adiciona bordas arredondadas */
    padding: 7px;
    position: absolute;
    z-index: 1;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu li {
    background-color: #016d88;
    margin: 5px 0;
    border: 2px solid #ddd; /* Adiciona divisão entre as tags <li> */
    padding: 5px; /* Espaçamento interno */
    border-radius: 6px;
  }
  
  /* Estilo para os links no menu */
  .menu a {
    text-decoration: none;
    color: #fff;
  }  

/* CONTEUDO */

#conteudo{
    display: flex;
    flex-direction: column;
    min-height: 72.5vh;
}

#cor{
    background-color: #0187a7;
}

#espaco{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contvideo{
    width: 40rem;
    position: relative;
    max-width: 100%;
    border-radius: 10px;
    border-style: solid;

}

.resumovideo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #016d88;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.imgdogtam{
    width: 100%;
    max-width: 100%;
}

.resumotxt{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #017f9e;
    padding: 2rem;
}

.imgdogrestam{
    width: 32rem;
    position: relative;
    max-width: 100%;
    padding: 1.5rem;
}

.resumotexto{
    max-width: 54rem;
    padding: 1.5rem;
}

.resumotexto p{
    font-size: 2rem;
}

#naocadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.ong-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006e89;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.cadastro-button{
    font-size: 2.2rem;
    color: #fff;
    text-decoration: none;
}

.ong-div .ong-text a{
    font-size: 1.5rem;
    color: #fff;
}

.arrumando{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 5rem;
    background-color: #017f9e;
    color: #fff;
    font-size:40px;
}

#adotealli {
    display: flex;
    justify-content: space-between;
    padding-left: 20rem;
    padding-right: 20rem;
    background-color: #017f9e;
    padding-bottom: 3rem;   
}

.cardadotei {
    flex: 0 0 calc(30% - 20px); /* Defina a largura desejada com margens */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.cardadotei a{
    text-decoration: none;
}

.cardadotei img {
    max-width: 100%;
    height: auto;
}

.cardadotei h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    text-decoration: none;
    color: #000;
}

.cardadotei h3 {
    font-size: 1rem;
    color: #888;
    text-decoration: none;
}


/* Formulário */    

#contform{
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background: #0187a7;
}

#formulario{
    max-width: 750px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

#formulario .tituloform{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

#formulario .tituloform a{
    padding-left: 21rem;
}


#formulario form .detalheform{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .detalheform .infoform{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.detalheform .infoform .letraform{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.detalheform .infoform input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.detalheform .infoform input:focus,
.detalheform .infoform input:valid{
    border-color: #24252a;
}

#fotoanimalform{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form #buttoncriar{
    margin: 3px;
    margin-top: 27px;
    margin-bottom: 7px;
    width: 100%;
    height: 45px;
    outline: none;
    color: #fff;
    background: linear-gradient(135deg, #0187a7, #016d88);
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
}

@media (max-width: 584px) {
    #formulario{
        max-width: 750px;
    }
    form .detalheform .infoform{
        margin-bottom: 15px;
        width: 100%;
    }
    #formulario form .detalheform{
        max-height: 300px;
        overflow-y: scroll;
    }
}

/* PÁGINA ADOTE */

#adotetudo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.cardadote {
    background-color: #ffffff; 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cardadote img {
    max-width: 100%;
}

.cardadote h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.cardadote h3 {
    font-size: 1rem;
    margin: 10px 0;
}

.cardadote a {
    text-decoration: none;
    color: #333;
}

.cardadote a:hover {
    color: #0187a7;
} 

#criarbotao{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CONTEUDO PÁGINA PERFIL DOG */

#perfildog {
    display: flex;
    justify-content: center;
    align-items: center;
}

#boxdog{
    background: #fff;
    height: 80vh;

} 


#imgperfildog{
    background-color: #bdbdbd;
    border-radius: 3rem;
    padding: 1.5rem;
}

#descdog{
    font-size: 25px;
    padding: 1.5rem;
}

#buttoncriar{
    margin: 3px;
    margin-top: 27px;
    margin-bottom: 7px;
    padding: 10px;
    height: 45px;
    outline: none;
    color: #fff;
    background: linear-gradient(135deg, #0187a7, #016d88);
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
}

/* CONTEUDO PÁGINA PERFIL USU */

.perfilusu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 1rem;
    
}

.perfilusu img{
    border-radius: 50%;

    border: 0.6rem solid #017f9e;
}

#comperfil{
    width: 100%;
    height: 140vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.perfilusu button{
    margin: 3px;
    margin-top: 27px;
    margin-bottom: 7px;
    padding: 10px;
    height: 45px;
    outline: none;
    color: #fff;
    background: linear-gradient(135deg, #0187a7, #016d88);
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
}

/* CONTEUDO PÁGINA CONTATO */

.h1contatoc{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: #0187a7;
    color: #fff;
    padding: 2rem 0 1rem 0;
}


#contformc{
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    padding: 35px;
    background: #0187a7;
}

#formularioc{
    max-width: 750px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

#formularioc .tituloformc{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}


#formularioc form .detalheformc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

#formularioc form .detalheformcc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .detalheformc .infoformc{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .detalheformc .infoformcc{
    margin-bottom: 15px;
    width: calc(100%);
}

.detalheformc .infoformc .letraformc{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.detalheformc .infoformc input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.detalheformc .infoformcc input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.detalheformc .infoformc input:focus,
.detalheformc.infoformc input:valid{
    border-color: #24252a;
}

form #buttoncriarc{
    margin: 3px;
    margin-top: 27px;
    margin-bottom: 7px;
    width: 100%;
    height: 45px;
    outline: none;
    color: #fff;
    background: linear-gradient(135deg, #0187a7, #016d88);
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
}

@media (max-width: 584px) {
    #formularioc{
        max-width: 750px;
    }
    form .detalheformc .infoformc{
        margin-bottom: 15px;
        width: 100%;
    }
    #formularioc form .detalheformc{
        max-height: 300px;
        overflow-y: scroll;
    }
}

/* CONTEUDO PÁGINA DOG ONG  */

    .anunciopage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    }

/* CONTEUDO PÁGINA PERFIL USU */

.perfilusu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 1rem;
    
}

.perfilusu img{
    border-radius: 50%;

    border: 0.6rem solid #017f9e;
}

#caixaperfil{
    width: 40rem;
    height: 1000px;
    background: #fff;
    border-radius: 8px;
    padding-top: 1rem;
}

#comperfil{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.perfilusu button{
    margin: 3px;
    margin-top: 27px;
    margin-bottom: 7px;
    padding: 10px;
    height: 45px;
    outline: none;
    color: #fff;
    background: linear-gradient(135deg, #0187a7, #016d88);
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
}

/* PÁGINA ESCOLHA LOGIN */

.pageescolha h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
}

.button-escolha {
    margin: 6px;
    margin-top: 54px;
    margin-bottom: 14px;
    padding: 20px;
    width: 25rem;
    outline: none;
    color: #016d88;
    background: #fff;
    border: none;
    font-size: 36px;
    font-weight: 1000;
    letter-spacing: 2px;
    border-radius: 12px;
}


.pageescolha{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.aescolha{
    font-size: 1.2rem;
    color: #fff;
    padding-left: 4px;

}

/* PÁGINA ANUNCIO */
  